body{
  max-width: 100%; 
  
}
.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.text-success{
  padding-left: 20px;
}
.line{
  border: 1px solid ; 
}
#line2{
  border-left: 2px solid grey;
  height: 180px;
  padding-left: 50px;
  padding-top: 10px;
}
#line1{
  
  padding: 10px 0px 0px 300px;
}
.space{
	word-spacing: 0.5cm;
}
